@media (max-width: 768px) {
    .MoviePopup-content {
        flex-direction: column;
        width: 90%;
    }

    .MoviePopup-image {
        width: 100%;
    }

    .MoviePopup-details {
        width: 100%;
    }
}

.MoviePopup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.MoviePopup-content {
    background: white;
    border-radius: 10px;
    display: flex;
    max-width: 600px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.MoviePopup-image {
    width: 40%;
    height: auto;
    display: block;
}

.MoviePopup-details {
    padding: 20px;
    width: 60%;
    position: relative;
}

.MoviePopup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
}

.MoviePopup h2 {
    margin-top: 0;
}

.MoviePopup p {
    margin-top: 5px;
    line-height: 1.4;
}

.MoviePopup-play {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

.MoviePopup-play:hover {
    background-color: #0056b3;
}
